{% load staticfiles %}
<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}" />
  <link rel="stylesheet" type="text/js" href="{% static 'js/landing.js' %}" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <div id="loading-screen">
    <a id="loading-logo" class="spin"></a>
  </div>
  <a onclick="togglenight()" class="moon"></a>
  <div onclick="navbaropen()" class="burger" >
    <a class="burger-line"></a>
    <a class="burger-line"></a>
    <a class="burger-line"></a>
  </div>
<div class="navbar">
<a class="nav-link" href="/">Home</a><a class="nav-link" href="/about/">About</a><a class="nav-link" href="/contact/">Contacts</a>
</div>
  <div class="parallax">
    <div class="parallax-layer layer-3">
      <a id="line1" class="shape line"></a>
      <a id="line2"class="shape x"></a>
      <a id="line3"class="shape circle"></a>
      <a id="line4"class="shape square-bg"></a>
      <a id="line5"class="shape line"></a>
      <a id="line6"class="shape x"></a>
      <a id="line7"class="shape square-bg"></a>
      <a id="line8"class="shape line"></a>
      <a id="line9"class="shape x"></a>
      <a id="line10"class="shape line"></a>
    </div>

    <div class="parallax-layer layer-2">
      <div class="flex-image">
        <div class="left-squares-image">

        </div>
        <div class="right-squares-image">
          <img class="foto-right img-portrait" src="{% static 'images/IMG_8341-1.jpg' %}">
          <img class="foto-right img-portrait" src="{% static 'images/DSC09107-6.jpg' %}">
          <img class="foto-right img-portrait" src="{% static 'images/ORG_PHY00284-7.jpg' %}">
        </div>
    </div>

    </div>
    <div class="parallax-layer layer-1">
      <div class="flex-image">
        <div class="left-squares-image">
          <img class="foto img-portrait" src="{% static 'images/IMG_8362-4.jpg' %}">
          <img class="foto img-portrait" src="{% static 'images/IMG-WURI.jpg' %}">
          <img class="foto img-portrait" src="{% static 'images/ORG_PHY00354-8.jpg' %}">
          <img class="foto img-square" src="{% static 'images/IMG_3667-12.jpg' %}">
        </div>
        <div class="right-squares-image">
        </div>
    </div>
    <div class="video-section container">
      <h1>Videos</h1>
      <iframe width='1280' height='753' src="https://www.youtube.com/embed/926HG5RXdCE?&theme=dark&autohide=2&modestbranding=1&fs=0&showinfo=0&rel=0&iv_load_policy=3"frameborder="0"></iframe>
        <iframe width='1280' height='753' src="https://www.youtube.com/embed/AO0gDX89Tog?&theme=dark&autohide=2&modestbranding=1&fs=0&showinfo=0&rel=0&iv_load_policy=3"frameborder="0"></iframe>
    </div>

    </div>
    <div class="parallax-layer layer-4">

<h1 class="title"> I am 
  <span
     class="txt-rotate"
     data-period="2000"
     data-rotate='[ "Nadyah.", "a student.", "a photographer.", "a programmer.", "a videographer."]'></span>
</h1>
    </div>

  </div>



</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'js/landing.js' %}"></script>
</html>
