*{
    font-family: Raleway;
    scroll-behavior: smooth;
  }
  html{
    transition: background-color 2s ease-in-out;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #D3D3D3;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
.modal{
  z-index: 5000;
  width : 100%;
  height : 100%;
  position: fixed;
  background-color: rgba(255,255,255,0.7);
  display: none;
}
.modal-box{
  z-index: 5001;
  width :300px;
  height : 100px;
  background-color: white;
  border : 1px solid black;
  position: absolute;
  text-align: center;
  top : 40%;
  left : 40%;
  padding-top: 40px;
}
  .moon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 7px 7px 0 0 grey;
    position: absolute;
    right : 50px;
    z-index: 1000;
    transition: box-shadow .3s;
    margin-top: 5px;
  }
  .moon:hover{
    box-shadow: 7px 7px 0 0 black;
  }
  .navbar{
    height : 55px;
    width: 100%;
    position: fixed;
    z-index : 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top : 0;

  }
  .nav-link{
    margin-left: 100px;
    margin-right: 100px;
    letter-spacing: 1.5px;
    transition: letter-spacing 0.5s ease-in-out;
    text-decoration: none;
    color: black;
    margin-top: 20px;
  }
  .nav-link:hover{
    font-weight: bold;
    letter-spacing: 2.5px;

  }
  .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    left : 18%;
    top : 28%;
    position: absolute;
    padding: 30px;
    height : 400px;
    z-index : 2;
  }
  .comment-form{
    border : 1px solid black;
    padding: 20px;
    width : 500px;
  }
  form{
    display: flex;
    flex-direction: column;
  }
  .comment-container{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-content :flex-end;
    height : 400px;
  }
  .comment{
    border : 1px solid black;
    margin: 10px;
    width : 500px;
    padding: 20px;
    background-color: white;
    transition: background-color 2s ease-in-out;
  }
  .comment-title{
    left : 22%;
    top : 25%;
    position: absolute;
  }
  .isi-comment{
    width: inherit;
    word-wrap: break-word;
  }
  input, textarea, button{
    border: 1px solid black;
    font-size: 20px;
  }
  .comment-input{
    font-size: 20px;
    height : 200px;
    border: 1px solid black
  }
  button{
    border: 1px solid black;
    width : 200px;
    padding : 20px;
    font-size: 20px;
  }
  .flex-item{
    margin-bottom: 15px;
  }
.social-media{
  z-index: 2;
  position: absolute;
  width : 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top : 75%;
  left : 46%;
}
.socmed-icon{
  width : 40px;
  height : 40px;
}
  /*  shapes  */
.shape{
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
.background-shapes{
  opacity: 0.25;
}
.line{
  border-top: 1px solid black;
  width : 60px;
  position: absolute;
  transform: rotate(0deg);
}
.square-bg{
  border: 1px solid black;
  height : 60px;
  width : 60px;
  position: absolute;
  transform: rotate(0deg);
}
.x {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
}
.x:before, .x:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 1px;
  background-color: black;
}
.x:before {
  transform: rotate(45deg);
}
.x:after {
  transform: rotate(-45deg);
}

.wx {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
}
.wx:before, .wx:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 1px;
  background-color: white;
}
.wx:before {
  transform: rotate(45deg);
}
.wx:after {
  transform: rotate(-45deg);
}

.circle{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border : 1px solid black;
  position: absolute;
}
#line1{
  left : 20%;
  top : 20%;
}
#line2{
  right : 13%;
  top : 20%;
}
#line9{
  left : 40%;
  top : 20%;
}
#line4{
  top : 50%;
  left: 13%;
}
#line5{
  top : 80%;
  right: 8%;
}
#line6{
  top : 90%;
  right: 50%;
}
#line7{
  top : 60%;
  right: 15%;
}#line8{
  top : 44%;
  right: 32%;
}#line3{
  top : 19%;
  right: 30%;
}
#line10{
  top : 80%;
  left: 20%;
}
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .navbar{
        visibility: hidden;
        flex-direction: column;
        height : 100vh;
        font-size: 100px;
        background-color: white;
        opacity : 0;
        transition: visibility 0.5s, background-color 2s,opacity 0.5s linear;
      }
      .burger{
        height : 60px;
        width : 50px;
        z-index :2000;
        position: absolute;
        top : 40px;
        left : 60px;
        display: flex;
        flex-direction: column;
      }
      .burger-line{
        width : 100px;
        margin-bottom: 20px;
        position: relative;
        border-top : 2px solid black;
        transition: color 0.5s linear;
      }

        .moon{
          /* width : 60px;
          height : 60px;
          box-shadow: 14px 14px 0 0 grey;
          right : 100px;
          margin-top : 10px; */
          display: none;
        }

      .moon:hover{
        /* box-shadow: 14px 14px 0 0 grey; */
      }
      .container{
        left : 20%;
        height : auto;
        flex-direction: column;
        align-content: center;
      }
      .comment-form{
        margin-left: 10px;
      }
      .comment-container{
        margin-top: 20px;
      }
      .social-media{
        top : 80%;
        left : 40%;
      }
      .modal-box{
        font-size: 40px;
        width : 50%;
        height : 200px;
        left : 25%;
      }
}
