*{
  font-family: Raleway;
  scroll-behavior: smooth;
}
html{
  transition: background-color 2s ease-in-out;
}
.moon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 7px 7px 0 0 grey;
  position: absolute;
  right : 50px;
  z-index: 1000;
  transition: box-shadow .3s;
  margin-top: 5px;
}
.moon:hover{
  box-shadow: 7px 7px 0 0 black;
}
#loading-screen{
  width : 100vw;
  height : 100%;
  z-index: 2000;
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: center;
}
#loading-logo{
  width : 50px;
  height : 50px;
  position: fixed;
  top : 48%;
  border : 1px solid black;
  opacity : 0.4;
}
.spin{
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
    0% {
        transform:rotate(0deg);
        border-radius: 0%;
    }
    20%{
      width : 0;
    }
    40%{
      width : 0;
    }
    60%{
      width : 50px;
      border-radius: 50%;
    }
    70%{
      border-radius: 50%;
    }
    90%{
      border-radius: 0%;
    }
    100% {
        transform:rotate(360deg);
    }
}
.navbar{
  height : 55px;
  width: 100%;
  position: fixed;
  z-index : 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-link{
  margin-left: 100px;
  margin-right: 100px;
  letter-spacing: 1.5px;
  transition: letter-spacing 0.5s ease-in-out;
  text-decoration: none;
  color: black;
  margin-top: 20px;
}
.nav-link:hover{
  font-weight: bold;
  letter-spacing: 2.5px;

}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  /* overflow-y: auto; */
  -webkit-perspective: 1px;
  perspective: 1px;
  font-size: 200%;
}
.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width : 100%;
  padding: 100vh 0;

}

.layer-1 {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  margin-top: 28%;
  margin-bottom: 1050%;
}

.layer-2 {
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3);
}

.layer-3 {
  -webkit-transform: translateZ(-20px) scale(21);
  transform: translateZ(-20px) scale(21);
  opacity: 0.3;
}
.layer-4 {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  top : -60%;
  text-align: center;
}
.square{
  border: 2px solid #000000;
  position: relative;
  margin-bottom: 25%;
}
.portrait{
  height: 800px;
  width : 600px;
}
.landscape{
  height: 600px;
  width : 800px;
}

.flex{
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
}
.left-squares{
  left:0;
}
.right-squares{
  right:0;
  margin-top: 30%;
}
.flex-square{
  display: flex;
  flex-direction: column;
}

.flex-image{
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
}
.left-squares-image{
  left:0;
  display: flex;
  flex-direction: column;
}
.right-squares-image{
  right:0;
  margin-top: 40%;
  display: flex;
  flex-direction: column;
}
.foto{
  margin-bottom: 200%;
}
.foto-right{
  margin-bottom: 100%;
}

body {
  font: 100% / 1.5 Arial;
  margin:0;
  padding:0;
}
.img-portrait{
  height:900px;
  width: 600px;
}
.img-square{
  height:600px;
  width: 600px;
}
.img-landscape{
  height:600px;
  width: 900px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  margin: auto;
  left : 12.5%;
}
.video-section{
  margin-top: -40%;
}
iframe{
  margin-top: 100px;
}

.line{
  border-top: 1px solid black;
  width : 60px;
  position: absolute;
  transform: rotate(0deg);
}
.square-bg{
  border: 1px solid black;
  height : 60px;
  width : 60px;
  position: absolute;
  transform: rotate(0deg);
}
.x {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
}
.x:before, .x:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 1px;
  background-color: black;
}
.x:before {
  transform: rotate(45deg);
}
.x:after {
  transform: rotate(-45deg);
}

.wx {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
}
.wx:before, .wx:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 1px;
  background-color: white;
}
.wx:before {
  transform: rotate(45deg);
}
.wx:after {
  transform: rotate(-45deg);
}

.circle{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border : 1px solid black;
  position: absolute;
}
#line1{
  left : 20%;
  top : 35%;
}
#line2{
  right : 20%;
  top : 30%;
}
#line3{
  left : 40%;
  top : 40%;
}
#line4{
  top : 50%;
  left: 20%;
}
#line5{
  top : 65%;
  left: 13%;
}#line6{
  top : 80%;
  left: 20%;
}#line7{
  top : 60%;
  right: 15%;
}#line8{
  top : 44%;
  right: 32%;
}#line9{
  top : 60%;
  right: 50%;
}#line10{
  top : 75%;
  right: 25%;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .layer-4{
      top : -55%;
    }
  .layer-1{
    margin-bottom: 2150%;
    margin-top: 90%;
  }
  .layer-2{
    margin-top: 90%;
  }
  .right-squares-image{
    margin-top: 100%;
  }
  .foto{
    margin-bottom: 350%;
  }
  .foto-right{
    margin-bottom: 200%;
  }
  iframe{
    width : 720px;
    height : 405px;
  }
  .video-section{
    margin-top: -165%;
  }
  .navbar{
    visibility: hidden;
    flex-direction: column;
    height : 100vh;
    font-size: 100px;
    background-color: white;
    opacity : 0;
    transition: visibility 0.5s, background-color 2s,opacity 0.5s linear;
  }
  .burger{
    height : 60px;
    width : 50px;
    z-index :2000;
    position: absolute;
    top : 40px;
    left : 60px;
    display: flex;
    flex-direction: column;
  }
  .burger-line{
    width : 100px;
    margin-bottom: 20px;
    position: relative;
    border-top : 2px solid black;
    transition: color 0.5s linear;
  }

    .moon{
      /* width : 60px;
      height : 60px;
      box-shadow: 14px 14px 0 0 grey;
      right : 100px;
      margin-top : 10px; */
      display: none;
    }

  .moon:hover{
    /* box-shadow: 14px 14px 0 0 grey; */
  }
}
