{% load staticfiles %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="phone-modal"class="modal" onClick="closeModal()">
      <div class="modal-box">
        <p>Phone/ WhatsApp : 087781677523</p>
      </div>
    </div>
    <div id="email-modal"class="modal" onClick="closeModal()">
      <div class="modal-box">
        <p>Gmail : hani.nadyah@gmail.com</p>
      </div>
    </div>
    <a onclick="togglenight()" class="moon"></a>
      <div onclick="navbaropen()" class="burger" >
          <a class="burger-line"></a>
          <a class="burger-line"></a>
          <a class="burger-line"></a>
        </div>
      <div class="navbar">
      <a class="nav-link" href="/">Home</a><a class="nav-link" href="/about">About</a><a class="nav-link"href="/contact">Contacts</a>
      </div>
      <h2 class="comment-title">Leave a message!</h2>
      <div class="container">
        <div class="comment-form">
        <form id="form" method="POST" action="{% url 'page_contact:add_comment' %}">
            {% csrf_token %}
          <input class="flex-item name-input" type="text" name="Name" placeholder="Your Name">
          <textarea style="resize : none;"class="flex-item comment-input" rows=10 type="text" name="Comment" placeholder="Your Message" required></textarea>
          <button class="flex-item" type="submit" value="Submit">Submit</button>
        </form>
      </div>

      <div class="comment-container">
        {% if comments %}
        {% for comment in comments %}
          <div class="comment">
          <h3>{{ comment.nama }}</h3>
          <p class="isi-comment">{{ comment.comment }}</p>
          <p>{{ comment.created_date }}</p>
        </div>
        {% endfor %}
        {% else %}
        <h3 style="margin : 10px;">No messages to show ;(</h3>
        {% endif %}
      </div>
    </div>
    <div class="social-media">
      <a onClick="showModal('phone-modal')">
      <img class="socmed-icon" src="{% static 'images/phone.png' %}"/>
      </a>
      <a onClick="showModal('email-modal')">
      <img class="socmed-icon" src="{% static 'images/mail.png' %}"/>
    </a>
    <a href="https://linkedin.com/in/nadyahhani">
      <img class="socmed-icon" src="{% static 'images/linkedin.png' %}" />
    </a>
    <a href="https://instagram.com/nadyahhani">
      <img class="socmed-icon" src="{% static 'images/instagram.png' %}" />
    </a>
    </div>
      <div class="background-shapes">
        <a id="line1" class="shape line"></a>
        <a id="line2"class="shape x"></a>
        <a id="line3"class="shape circle"></a>
        <a id="line4"class="shape square-bg"></a>
        <a id="line5"class="shape line"></a>
        <a id="line6"class="shape x"></a>
        <a id="line7"class="shape square-bg"></a>
        <a id="line8"class="shape line"></a>
        <a id="line9"class="shape x"></a>
        <a id="line10"class="shape line"></a>
      </div>
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{% static 'js/contact.js' %}"></script>
