{% load staticfiles %}
<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
</head>
<body>
  <a onclick="togglenight()" class="moon"></a>
  <div onclick="navbaropen()" class="burger" >
    <a class="burger-line"></a>
    <a class="burger-line"></a>
    <a class="burger-line"></a>
  </div>
<div class="navbar">
<a class="nav-link" href="/">Home</a><a class="nav-link" href="/about">About</a><a class="nav-link"href="/contact/">Contacts</a>
</div>
  <div class="container">
    <div class="about">
      <h1 class="name">Nadyah Hani Ramadhana</h1>
      <img class="photo" src="https://instagram.fcgk12-1.fna.fbcdn.net/vp/b21998ff41652aea413679f88a0719e2/5CE0FA05/t51.2885-15/e35/20398097_1403726139664469_9001248830955454464_n.jpg?_nc_ht=instagram.fcgk12-1.fna.fbcdn.net">
    </div>
    <div class="about">
      <div class="description">
        <h1>Work Experience</h1>
        <p><b>Rupa Creative</b> &#8212; Videographer Intern</p>
        <p>Rupa Creative is a creative agency and studio located in Tebet. I learnt about making creative decisions, collaborating with people and dealing with working culture differences.</p>
        <br>
        <h1>Program Committee</h1>
        <p><b>Compfest X</b> &#8212; Vice PIC of Photography and Cinematography</p>
        <p>Biggest IT event in Indonesia held by Students. I learnt how to work in a team, time management and learnt many things about the IT industry as I was present in most of the events.</p>
        <br>
        <p><b>The 25th Computers Get Together</b> &#8212; Vice PIC of documentation</p>
        <p>An internal event for computer science students and faculty members of Universitas Indonesia which consists of events aimed at strengthening the bond between students and faculty members.</p>
        <br>
        <h1>Projects</h1>
        <p><b>Bambu Runcing</b> &#8212; ( <a href="https://bamburuncing.github.io">https://bamburuncing.github,io</a> )</p>
        <p>A game of reversi or othello with a premise of playing as Indonesian soldiers against invaders using artificial intelligence with minimax algorithm.</p>
        <br>
        <h1>Education</h1>
        <p><b>Universitas Indonesia</b> &#8212; Fakultas Ilmu Komputer</p>
        <br>
      </div>
      <div class="skills">
        <h2>Skills</h2>
          <p>&#8227; JavaScript</p>
          <p>&#8227; Django</p>
          <p>&#8227; Python</p>
          <p>&#8227; Java</p>
          <p>&#8227; HTML5</p>
          <p>&#8227; CSS</p>
          <p>&#8227; React</p>
        <br>
      </div>
    </div>

  </div>
  <div class="background-shapes">
    <a id="line1" class="shape line"></a>
    <a id="line2"class="shape x"></a>
    <a id="line3"class="shape circle"></a>
    <a id="line4"class="shape square-bg"></a>
    <a id="line5"class="shape line"></a>
    <a id="line6"class="shape x"></a>
    <a id="line7"class="shape square-bg"></a>
    <a id="line8"class="shape line"></a>
    <a id="line9"class="shape x"></a>
    <a id="line10"class="shape line"></a>
  </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'js/about.js' %}"></script>
